:root, body {
	width: 100%;
}
.container, .content {
	width: 80%;
	margin: 100px auto;
	text-align: center;
}
.item {
	display: inline-block;
}
.modify-input {
	visibility: hidden;
}
#btn {
	margin-left: 10px;
	width: 120px;
	height: 30px;
	background-color: #ddd;
}
hr {
	marin: 20px 0;
}
.item input[type="radio"]+label {
	position: relative;
	cursor: pointer;
}

.item input+label::before {
	content: '';
	position: absolute;  
	width: 18px;
	height: 18px;
	left: -24px;
	top: 2px;
	border: 1px solid #aaa;
	border-radius: 50%;
}

.item input:checked+label::before {
    box-shadow: 0 0 6px #24b7e5;
}

.item input:checked+ label::after{
	content: '';
	position: absolute;    
	left: -20px;
	top: 6px;
	border-radius: 50%;    
	width: 12px;
	height: 12px;
	background: #24b7e5;
}